#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

text
firstboot --enable
ignoredisk --only-use=vda
keyboard --vckeymap=es --xlayouts='es'
lang en_US.UTF-8
#network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto
#network  --hostname=localhost.localdomain
reboot

# Root password
#rootpw --iscrypted <encrypted root password>
user --name=<username> --groups=wheel --iscrypted --password <password>
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Madrid --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=vda --size=512
part pv.276 --fstype="lvmpv" --ondisk=vda --size=22528 --grow
volgroup vg00 --pesize=4096 pv.276
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=vg00
logvol /home  --fstype="xfs" --size=1024 --name=home --vgname=vg00
logvol /  --fstype="xfs" --size=4096 --name=root --vgname=vg00
logvol /usr  --fstype="xfs" --size=4096 --name=usr --vgname=vg00
logvol /var  --fstype="xfs" --size=4096 --name=var --vgname=vg00
logvol /opt  --fstype="xfs" --size=4096 --name=opt --vgname=vg00
logvol /tmp  --fstype="xfs" --size=2048 --name=tmp --vgname=vg00
logvol /var/log/audit/  --fstype="xfs" --size=1024 --name=vat_log_audit --vgname=vg00

%packages
@core
chrony
kexec-tools
openscap
openscap-scanner
scap-security-guide
policycoreutils-python
mc
wget
vim
%end

%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = standard
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end


%post
CMD="/proc/cmdline"
HOST_FILE="/etc/hosts"
install_vars="/root/install.var"
RESV="/etc/resolv.conf"
HOST_NAME="/etc/hostname"
# Just add {{release}} repo CD
cat > /etc/yum.repos.d/rhel-7-server-rpms.repo <<EOF
[rhel-7-server-rpms]
name=Red Hat Enterprise Linux {{release.split('-')[-1]}}
mediaid=1539194970.388895
metadata_expire=-1
gpgcheck=0
cost=500
baseurl=http://{{configured_domain.gateway}}/rhel/{{release.split('-')[-1]}}/server/x86_64/os/
EOF

/usr/sbin/grubby --grub2 --args="console=tty0 console=ttyS0,115200" --update-kernel=ALL


echo 'bcgadmin        ALL=(ALL)       NOPASSWD: ALL' > /etc/sudoers.d/bcgadmin

# Deploy ssh public key for bcgadmin

# mkdir -p /home/username/.ssh
# cat > /home/username/.ssh/authorized_keys <<EOF
# ssh-rsa <public key>
# EOF
# chown username:username /home/username/.ssh
# chmod 700 /home/username/.ssh/
# chmod 600 /home/username/.ssh/authorized_keys
# chown username:username /home/username/.ssh/* -R

# permit password authentication for bcgadmin user
cat >> /etc/ssh/sshd_config <<EOF
UseDNS no
#Match User username
#	PasswordAuthentication yes
#Match all
EOF

%end
